*.gitignore text eol=crlf
*.gitattributes text eol=crlf
*.2da text
*.baf text
*.bat text eol=crlf
*.d text
*.glsl text eof=lf
*.htm text eol=crlf
*.html text eol=crlf
*.ini text eol=crlf
*.sh text eol=lf
*.tp2 text
*.tph text
*.tra text
*.txt text eol=crlf

*.7z binary
*.are binary
*.bam binary
*.bmp binary
*.cre binary
*.dll binary
*.eff binary
*.exe binary
*.itm binary
*.jpg binary
*.mbc binary
*.png binary
*.pro binary
*.pvrz binary
*.spl binary
*.sto binary
*.tbc binary
*.vef binary
*.vvc binary
*.wav binary
*.wed binary
